.list-card-details {
    margin: 2px 5px 10px 5px;
    overflow: hidden;
    padding: 6px 8px 2px;
    position: relative;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgba(255,255,255,.2), 0 1px 1px 0 rgba(255,255,255,.14), 0 1px 3px 0 rgba(255,255,255,.12);
}

.list-card-title {
    clear: both;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    padding: 0px 2px 0px 2px;
    text-decoration: none;
    word-wrap: break-word;
    color: white;
    background-color: gray;
    font-size: 12px;
}
