<!-- <mat-card>

  <mat-card-title>  </mat-card-title>
  <mat-card-subtitle> {{data[3]}} </mat-card-subtitle>
  <mat-card-content> {{data[2]}}</mat-card-content>
      
      <mat-card-actions> </mat-card-actions>
      <mat-card-footer>{{data[4]}} {{data[5]}} {{data[6]}}</mat-card-footer>



</mat-card> -->

<div class="list-card-details">
  <span class="list-card-title">
      [{{task.id}}] {{task.title}}
  </span>
  <span class="list-card-content">
      {{task.description}}
  </span>
  <div class="list-card-members">
      {{task.responsible}}
  </div>
</div>